.background-transition {
    background-color: blue;
    color: white;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: background-color 2s ease-in;
    line-height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.background-transition:hover {
    background-color: green;
}